body{
    background-color: rgb(13, 197, 193);
}

.typing_loader{  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: typing 1s linear infinite alternate;
    margin: 46px auto; 
    position: relative;
    left: -37px; 
}

@keyframes typing{
    0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 36px 0px 0px 0px rgba(255,255,255, 0.2), 
                    72px 0px 0px 0px rgba(255,255,255, 0.2);
    }
    25%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 36px 0px 0px 0px rgba(255,255,255, 2), 
                    72px 0px 0px 0px rgba(255,255,255, 0.2);
    }
    75%{
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 36px 0px 0px 0px rgba(255,255,255, 0.2), 
                    72px 0px 0px 0px rgba(255,255,255, 1);
    }
}