*,
*::before,
*::after {
  box-sizing: inherit; 
}

.lazy3 {
  width: 28px;
  height: 28px;
  /*border-radius: 50%;*/
  position: relative;
  animation: loader10-uba7e1836 0.9s ease alternate infinite;
  animation-delay: 0.36s;
  top: 50%;
  margin: -42px auto 0; 
}
 .lazy3::after, .lazy3::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    /*border-radius: 50%;*/
    animation: loader10-uba7e1836 0.9s ease alternate infinite; 
 }
 .lazy3::before {
    left: -40px;
    animation-delay: 0.18s; 
 }
 .lazy3::after {
    right: -40px;
    animation-delay: 0.54s;
}

@keyframes loader10-uba7e1836 {
  0% {
    box-shadow: 0 28px 0 -28px #ffffff; 
}
  100% {
    box-shadow: 0 28px 0 #ffffff; lazy3}
